name: Deploy to Firebase Hosting

on:
  push:
    branches:
      - main

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Build
        run: |
          echo "VITE_DISCORD_CLIENT_ID=1470099721900265704" >> .env
          echo "VITE_API_BASE_URL=https://dt-store-api.onrender.com" >> .env
          echo "CLIENT_URL=https://dtdt-f871e.web.app" >> .env
          npm run build

      - name: Deploy to Firebase
        uses: FirebaseExtended/action-hosting-deploy@v0.4.0
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_DTDTF871E }}'
          channelId: live